<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="details">
        <p>
            {{goal.description}}
        </p>
        <p>This goal will be complete in {{goal.completeDate|dateCount}} days</p>
        <button class="btn btn-danger" style="padding-bottom: 5px;" (click)='goalDelete(true)'>Delete Goal</button>
    </div>
</body>

</html>